#main_menu{
    flex-basis: 68%;
    padding-top: 10px;
    // background-color: red;

    ul{
        text-align: right;
        li{
            margin-left: 15px;
            position: relative;
            &::after{
                content: "";
                position:absolute;
                width: 0%;
                height: 2px;
                left: 0;
                bottom: 0;
                background: $primaryColor;
                transition: 0.5s;
            }
            &:hover::after{
                width: 100%;
            }
            &:last-child{
                a{
                    background: $primaryColor;
                    color: $whColor;
                }
            }
           a{
               display: inline-block;
               color: $bkColor;
               padding: 10px 20px;
               font-weight: 700;
               font:{
                size:16px
               }
               i{
                display: none;
               }
            }
        }
    }
}